* {
    margin: 0px;
    padding: 0px;

}

.button {
    /* I need to find a way to stack all the buttons into a row. */
    display: block;
    float: center;
    font-weight: bold;
    font-family: "Cambria";
    color: black;
    border-color: rgba(189, 52, 148, 0.658);
    background-color: rgba(189, 52, 148, 0.658);
    border-width: 5px; 
    border-radius: 10%;
    text-align: center;
    margin-left: 500px; 
}

div {
    margin: 100px;
    font-size: 20px;
    font-family: Georgia;
    font-weight: bold;
    text-align: center;
}

.heads {
    text-align: center;
}

.show {
    display: block;

}

.hide {
    display: none;
}