* {
    margin: 0px;
    padding: 0px;

}

.button {
    margin: 5px;
    margin-top: 10px;
    width: 150px;
    height: 60px;
    padding: 10px;
     display: block;
    font-weight: bold;
    font-family: "Cambria";
    color: black;
    border-color: rgba(189, 52, 148, 0.658);
    background-color: rgba(189, 52, 148, 0.658);
    border-width: 5px; 
    border-radius: 10%;
    text-align: left;
    margin-left: 500px;
}

.timer {
    color:rgba(189, 52, 148, 0.658);
   float: right;
}

div {
    margin: 50px;
    padding: 10px;
    font-size: 20px;
    font-family: Georgia;
    font-weight: bold;
    text-align: center;
}

.scores {
    font-family: 'Lucida Sans';
    color:rgba(189, 52, 148, 0.658); 
}

.heads {
    text-align: center;
}

.show {
    display: block;

}

.hide {
    display: none;
}

